name: "validate"

on:
  pull_request:
    branches: []
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  validate_changes:
    name: Run Linters and Tests (Elixir ${{ matrix.elixir }}, OTP ${{ matrix.otp }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir: ["1.18", "1.19.1"]
        otp: ["27.2"]
    services:
      pg:
        image: postgres:16.4-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: "journey_test"
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - name: Install OTP and Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}
      - name: Manage dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ matrix.elixir }}-${{ matrix.otp }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-${{ matrix.elixir }}-${{ matrix.otp }}-
      - name: Install dependencies
        run: mix deps.get
      - name: Lint
        env:
          JOURNEY_BUILD_KEY: '${{ secrets.JOURNEY_BUILD_KEY }}'
        run: make lint
      - name: Test
        env:
          JOURNEY_BUILD_KEY: '${{ secrets.JOURNEY_BUILD_KEY }}'
        run: make test
